*.pyc
/.env

/core/migrations/
/core/__pycache__/

/attendance/migrations/
/attendance/__pycache__/

/authentication/migrations/
/authentication/__pycache__/

/transaction/migrations/
/transaction/__pycache__/

/trip/migrations/
/trip/__pycache__/

/institution/migrations/
/institution/__pycache__/


